<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/shant/IdeaProjects/SeleFiles/src/main/java/Assignment/CheckBox.java">
        <classes>
            <class name="Assignment.CheckBox">
                <methods>
                    <include name="check"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/shant/IdeaProjects/SeleFiles/src/main/java/Assignment/Contextmenu.java">
        <classes>
            <class name="Assignment.Contextmenu">
                <methods>
                    <include name="Menu"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>